#contacto {
    
    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
        input:nth-child(2n), textarea {
            // width: 380px;
            width: 80%;
        }

        label, input:last-child {
            margin-top: 10px;
        }
    }

}