.btn-outline-success {
    color: white;
    border-color: white;
}

.btn-outline-success:hover {
    color: black;
    background-color: white;
    border-color: white;
}

.navbar {
    background-color: black;
}