
#posteos {
    .fotos-posteos {
        display: flex;
        margin: 20px 0px;
        // justify-content: space-around;

        img {
            // width: 400px;
            // height: 400px;
            width: 90%;
            height: 100%;
        }
    }
}